.mi-loadmorebtn {
  background: #16d47b;
  width: 100%;
  min-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.mi-loadmorebtn p {
  font-family: 'Quicksand', sans-serif;
  font-size: 42px;
  padding: 20px;
}

.mi-loadmorebtn:hover {
  opacity: 0.8;
}