.mi-header {
  width: 100%;
  height: auto;
  background: #202125;
  padding: 0 20px;
  box-sizing: border-box;
}

.mi-header-content {
  max-width: 1280px;
  min-height: 120px;
  height: auto;
  padding: 20px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mi-logo {
  width: 300px;
}

.mi-tmdb-logo {
  width: 122px;
}

@media screen and (max-width: 500px) {
  .mi-header-content {
    max-width: 1280px;
    min-height: 0px;
  }

  .mi-tmdb-logo {
    width: 80px;
  }

  .mi-logo {
    width: 150px;
  }
}